<mat-toolbar color="primary">
  <button mat-button [routerLink]="['home']">
    <span>workplan</span>
  </button>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="appMenu">
    <mat-icon>menu</mat-icon> Menu
  </button>
</mat-toolbar>
<mat-menu #appMenu="matMenu">
  <button mat-menu-item [routerLink]="['logger']">
    <mat-icon>dialpad</mat-icon>
      <span>Logger</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="menu"> 
    <mat-icon>equalizer</mat-icon>
    <span>Lazy Load</span>
  </button>
  <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['lazyload']">
        <mat-icon>domain</mat-icon>
        <span>Test Lazy Load</span>
      </button>
      <button mat-menu-item [routerLink]="['home']">
        <mat-icon>store</mat-icon>
        <span>home</span>
      </button>
      <!--<button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>-->
    </mat-menu>
</mat-menu>